{%extends 'adminindex.html'%}
{%block body%}
<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--&lt;!&ndash;<td><a href="/approvecompany">Approve company</a></td>&ndash;&gt;-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/adminviewvacency1">view vacency</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="adminviewresume">View resume</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="adminviewfeedback">view feedback</a></td>-->
    <!--</tr>-->
   <!---->
    <!--<tr>-->
      <!--<td><a href="adminviewcomplaint1">View complaint and replay</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">Logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}
