{%extends 'adminindex.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="">
  <p>
    <label>
    <select name="select">
      <option value="user">user</option>
      <option value="company">company</option>
    </select>
    </label>
    <label>
    <input type="submit" name="Submit" value="Search" />
    </label>
  </p>
  <table width="200" border="1" id="customers">
    <tr>
      <th>user name </th>
      <th>feedback</th>
      <th>date</th>
    </tr>
           {% for i in val %}

    <tr>
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
