{%extends 'companyindex.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="comupdate">Update profile</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="companyaddvacency">Add vacancy</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/addinterviewdate">Add interview date</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="companyfeedback">Send feedback</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="companyresume">View resume&Other informations and approve</a></td>-->
    <!--</tr>-->
        <!--<tr>-->
      <!--<td><a href="companyviewvacency">manage vacencies</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/">Logout</a></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}
