{%extends 'companyindex.html'%}
{%block body%}
<body>
<form id="form1" name="form1" method="post" action="/editvacency">
  <table width="200" border="1" id="customers">
    <tr>
      <th>Post</th>
      <th>Number of vacancy</th>
      <th>date</th>
      <th>&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td><p><a href="{{url_for('companyeditvacency',id=i[0])}}">EDIT/</a></p>
      <p><a href="{{url_for('companydeletevacency',id=i[0])}}">DELETE</a></p></td>
    </tr>
    {% endfor %}
  </table>
  <label></label>
</form>
</body>
{% endblock %}
